// $color_firs: #0e3959;
// $color_second: #03a9f5;
// $color_second: #ff0157;

// $color_firs: #283539;
// $color_second: #7b955b;

$color_firs: #0e3959;
$color_second: #52a051;

$color_main: #ff0157;

.contactUs {
  background: linear-gradient(
    90deg,
    $color_firs 0%,
    $color_firs 30%,
    $color_second 30%,
    $color_second 100%
  );
  position: relative;
  width: 100%;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    h2 {
      color: #fff;
      font-weight: 500;
    }
  }
  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 5fr;
    grid-template-areas:
      "form info"
      "form map";
    grid-gap: 20px;
    margin-top: 20px;

    .form {
      grid-area: form;
    }
    .info {
      grid-area: info;
    }
    .map {
      grid-area: map;
    }
    .contact2 {
      padding: 40px;
      background: #fff;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
      h3 {
        color: $color_firs;
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 10px;
      }
      .formBox {
        position: relative;
        width: 100%;
        .row50 {
          display: flex;
          gap: 20px;
        }
        .inputBox {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          width: 50%;
          & ::placeholder {
            color: #999;
          }
          span {
            color: $color_second;
            font-weight: 600;
          }
          input {
            padding: 10px;
            font-size: 1.1em;
            outline: none;
            border: 1px solid #333;
          }
          textarea {
            padding: 10px;
            font-size: 1.1em;
            outline: none;
            border: 1px solid #333;
            resize: none;
            min-height: 300px;
            margin-bottom: 10px;
          }
        }
        .row100 {
          .inputBox {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: 500;
            input[type="submit"] {
              font-size: 1em;
              color: #fff;
              background: $color_main;
              display: inline-block;
              padding: 10px 30px;
              text-transform: uppercase;
              text-decoration: none;
              letter-spacing: 2px;
              transition: 0.5s;
              max-width: 300px;
              cursor: pointer;
              &:hover {
                letter-spacing: 6px;
              }
            }
          }
        }
      }
    }
    .info {
      background: $color_firs;
      h3 {
        color: #fff;
      }
      .infoBox {
        div {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          span {
            min-width: 40px;
            height: 40px;
            color: #fff;
            background: $color_second;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            border-radius: 50%;
            margin-right: 15px;
          }
          p {
            color: rgb(228, 228, 228);
            font-size: 1.1em;
          }
          a {
            color: rgb(228, 227, 227);
            text-decoration: none;
            font-size: 1.1em;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    .map {
      padding: 0;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (max-width: 991px) {
    background: $color_second;
    .box {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "form"
        "info"
        "map";
    }
    .map {
      min-height: 300px;
    }
  }

  @media (max-width: 768px) {
    .box {
      .formBox {
        .row50 {
          display: flex;
          gap: 0;
          flex-direction: column;
          .inputBox {
            width: 100%;
          }
        }
      }
      .contact2 {
        padding: 30px;
      }
      .map {
        padding: 0px;
      }
    }
  }
}
